body {
    background-color: #EC7063;
}

#logo img {
  padding-top: 60px;
  max-width: 10%;
  max-height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Horizontal Navigation Bar Styles*/
#horizontalNav {
  background-color: #2D2C2C ;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#horizontalNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none; 
    font-size: 18px; 
    color: white; 
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
  }

    #horizontalNav li {
    float: right;
    padding: 5px;
  }

    #horizontalNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 #horizontalNav li a:hover {
    background-color: #111;
  }

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

header {
  background-image: url("../img/portraits.jpg");
  /*--Parallax Scrolling Effect--*/
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

/*Quotes Introduction Section */
#quotes-introduction {
    display: flex;
    flex-direction: row;
}


footer {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

footer img {
  max-width: 10%;
  max-height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*General Fonts*/
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
}
