body {
    background-color: #EC7063;
}

/* Horizontal Navigation Bar Styles*/
#horizontalNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none; 
    font-size: 18px; 
    color: white; 
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
  }

    #horizontalNav li {
    float: right;
  }

    #horizontalNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 #horizontalNav li a:hover {
    background-color: #111;
  }

header {
    background-image: url(/img/portraits.jpg);
  /*--Parallax Scrolling Effect--*/
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
 }

/*Quotes Introduction Section */
#quotes-introduction {
    display: flex;
    flex-direction: row;
}

/*General Fonts*/
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}